@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav flex-grow-1">
    @if (SignInManager.IsSignedIn(User))
    {
        if (@User.IsInRole("PortalAdmin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="University" asp-action="Index">University</a>
            </li>
        }
        else if (@User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="UniversityStaff" asp-action="Index">Staff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Student</a>
            </li>
        }       
        else if (@User.IsInRole("COE"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="SemesterExam" asp-action="Index">Semester Exam</a>
            </li>
        }
         else if (@User.IsInRole("Student"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="StudentSemester" asp-action="Index">Semester</a>
            </li>
        }
    }
</ul>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
