@model IEnumerable<UniversityPortal.Models.StudentExamModel>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseSemester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attempt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamDate)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseSemester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attempt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamDate)
                </td>

            </tr>
        }
    </tbody>
</table>
