@model UniversityPortal.Models.StudentViewModel

@{
    ViewData["Title"] = "View";
}

<div class="page-head"><i class="fa-solid fa-address-card"></i> Profile</div>
<input type="hidden" value="@Model.Role" />
<div>
    <dl class="row mx-2">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdmissionNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdmissionNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RollNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RollNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Program)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Program)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TutionFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TutionFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    @if (@Model.Role == "Student")
    {
        <a asp-controller="Home" asp-action="Index">Back to List</a>
    }
    else if (Model.Role == "Accountant" && Model.IsPaid == true && Model.IsCompleted == false)
    {
        @Html.ActionLink("Course Completed", "CourseComplete", "Student",new {id=Model.Id})        
        <span>|</Span>
        <a asp-action="Index">Back to List</a>
    }
    else if (Model.Role == "Admin")
    {
        @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) 
        <span>|</Span>
        <a asp-action="Index">Back to List</a>
    }

    @if (Model.IsPaid == false)
    {   
        <span>|</Span>
        @Html.ActionLink("Pay Tution Fees", "Index", "Payment", new { type = "TutionFees" });
    }
</div>
